<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>측정 리스트</title>
</head>
<body>
					
	<table border="1" style="width:600px">
        <p style="color: #000000; border-left: 0.5em solid #688FF4; padding: 0.5em; background: #F9F7F6;">측정 리스트</p>
		<colgroup>
			<col width='10%' />
			<col width='*%' />

		</colgroup>
		<thead>
			<tr>
				<th>No.</th> 
				<th>'기기번호'</th>
				
			</tr>
		</thead>
		<tbody>
		<%
			 for(var i=0; i<rows.length; i++) {
		%>
			<tr>
				<td><%=i+1%></td>
				<td><a href='/board2/boardRead?born=<%=rows[i]%>'><%=rows[i]%></a></td>
			</tr>
		<%
			 }
		%>
		</tbody>
	</table>    
</body>
</html>