<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    
    <script language="javascript" type="text/javascript" src="/routes/board2.js"></script>  
    <title>Document</title>
 </head>
 <body>
  
     <canvas id="myChart" width="750" height="300"></canvas>
    
     <canvas id="myChart2" width="750" height="300"></canvas>
    <canvas id="myChart3" width="750" height="300"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js" integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     
   <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.0.1/chartjs-plugin-zoom.min.js" integrity="sha512-b+q5md1qwYUeYsuOBx+E8MzhsDSZeoE80dPP1VCw9k/KA9LORQmaH3RuXjlpu3u1rfUwh7s6SHthZM3sUGzCkA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script>
    var aa1 ="<%=aa0%>";   
    var aa2 ="<%=aa1%>";
    var aa3 ="<%=aa2%>";
    var aa4 ="<%=aa3%>";
    var b1 = aa1.split(',');
    var b2 = aa2.split(',');
    var b3 = aa3.split(',');
    var b4 = aa4.split(',');
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels:b1 ,
            datasets: [{
                label: 'gyro x',
                data: b2,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1,
                pointRadius:0
            }]
        },
         options: {
            responsive: false,
             scales:{
                 y:{
                     beginAtzero: true
                 }
             },
             plugins: {
               zoom: {
                    pan: {
                      enabled: true,
                      mode: 'x',
                      threshold: 5,
                    },
                    zoom: {
                      wheel: {
                        enabled: true
                      },
                      pinch: {
                        enabled: true
                      },
                      mode: 'x',
                    },
                }
            }
          }
        });
    var ctx2 = document.getElementById('myChart2').getContext('2d');
        var myChart2 = new Chart(ctx2, {
        type: 'line',
        data: {
            labels:b1 ,
            datasets: [{
                label: 'gyro y',
                data: b3,
                backgroundColor: 'rgba(75, 137, 220, 0.2)',
                borderColor: 'rgba(75, 137, 220, 1)',
                borderWidth: 1,
                pointRadius:0
            }]
        },
        options: {
             responsive: false,
             scales:{
                 y:{
                     beginAtzero: true
                 }
             },
             plugins: {
               zoom: {
                    pan: {
                      enabled: true,
                      mode: 'x',
                      threshold: 5,
                    },
                    zoom: {
                      wheel: {
                        enabled: true
                      },
                      pinch: {
                        enabled: true
                      },
                      mode: 'x',
                    },
                }
            }
          }
        });
    var ctx3 = document.getElementById('myChart3').getContext('2d');
        var myChart3 = new Chart(ctx3, {
        type: 'line',
        data: {
            labels:b1 ,
            datasets: [{
                label: 'gyro z',
                data: b4,
                backgroundColor: 'rgba(129, 193, 71, 0.2)',
                borderColor: 'rgba(129, 193, 71, 1)',
                borderWidth: 1,
                pointRadius:0
            }]
        },
        options: {
             responsive: false,
             scales:{
                 y:{
                     beginAtzero: true
                 }
             },
             plugins: {
               zoom: {
                    pan: {
                      enabled: true,
                      mode: 'x',
                      threshold: 5,
                    },
                    zoom: {
                      wheel: {
                        enabled: true
                      },
                      pinch: {
                        enabled: true
                      },
                      mode: 'x',
                    },
                }
            }
          }
        });
    
    </script>
 </body>
</html>