<!DOCTYPE html>
<html>
<head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
      <script src="/galleria/galleria.min.js"></script>
      <script type='text/javascript' src='/javascripts/page.js'></script>
      <link rel="stylesheet" href="/stylesheets/page.css">

<title>측정 리스트</title>
</head>
<body>
      <div class="galleria">
      
            <% imgs.forEach(function(imgs) { %>
                  <img src='<%=imgs%>'>
            <% }); %>
          
      </div>
</body>
</html>