<html>
    <head>
        <title>22222TESTESTEST22222</title>
    </head>
    <body>
        <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="avatar" />
    </form>
    </body>
</html>
